@tailwind preflight;

@tailwind components;

@tailwind utilities;


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.primary {
  fill: #A5B3BB; }

.secondary {
  fill: #0D2B3E; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.spin {
  transition: all 0.5s;
  animation: roll 3s infinite;
  transform: rotate(360deg)
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}